[submodule "core"]
	path = core
	url = https://github.com/MrSsSprite/fs-bptree-g.git
[submodule "deps/unity"]
	path = deps/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "deps/data_structures"]
	path = deps/data_structures
	url = https://github.com/MrSsSprite/data_structures.git
